<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    <title>Update - {{c.text}}</title>
</head>
<body>
    <section id="container">
        <h3>Application TODO</h3>
        <button onclick="window.location.href='/'"> back</button>
        <form action="/update" method="post">
            <input type="hidden" name="id" value="{{c._id}}">
            <input type="text" name="txt" id="in" value="{{c.text}}" required placeholder="update comment">
            <input type="submit" value="update">
        </form>
            <button type="submit" onclick="window.location.href='/delete/{{c._id}}'"> delete</button>
        
    </section>
</body>
</html>